.design-element{
    border: 1px dotted gray;
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    vertical-align: top;
}

.site-header{
    font-weight: bold;
    font-size: 2em;
}

.invisible-text{
    background-color: LightGrey;
    color: LightGrey;
}

.left-col{
    display: inline-block;
    width: 80%;
}

.right-col{
    display: inline-block;
    width: 16%;
}

.img-container{
    padding: 1rem;
    display: inline-block;
    width: 3cm;
    height: 2cm;
    vertical-align: top;
}

.img-container img{
    width: 100%;
    height: 100%;
    border: 1px dotted black;
}

.gallery-item{
    display: inline-block;
}

.gallery-item img{
    display: block;
}

.messages_container{
    border: 1px solid grey;
    padding: 1em;
}

.message {
    border: 1px solid grey;
    padding: 1em;
}

.messages_container .from_me{
    text-align: left;
}

.messages_container .to_me{
    text-align: right;
}

.msg_login{
    display: inline;
    font-weight: bold;
    margin-right: 1em;
}

@media screen and (max-device-width: 800px) {
    .left-col, .right-col{
        width: 100%;
    }
}